// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    keyboard {
    xkb {
            layout "us,ru"              // Comma-separated layouts
            options "grp:caps_toggle" // Switch method
        }
        numlock // Enable numlock on startup
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
    }

    mouse {
        // If you want to disable Mouse Acceleration,
        // uncomment the lines below.
        //accel-profile "flat"
        //accel-profile "adaptive"
        accel-speed 1.0
    }

    focus-follows-mouse // Automatically focus windows under the mouse pointer
//    workspace-auto-back-and-forth // Enable workspace back & forth switching
}

gestures {
    hot-corners {
        off
    }
}
